<h3>TOOLS</h3>

<ul class="posts">
<li><span>4 Nov 2014</span> &raquo; <a href="{{ site.url }}/vispro14-blog/pdfs/DesignThinking-Tim-Brown.pdf">Design Thinking, by Tim Brown</a></li>
<li><span>4 Nov 2014</span> &raquo; <a href="{{ site.url }}/vispro14-blog/pdfs/BackoftheNapkin_6x6.pdf">The Back of the Napkin: 6 x 6, by Dan Roam</a></li>
<li><span>4 Nov 2014</span> &raquo; <a href="{{ site.url }}/vispro14-blog/pdfs/BackoftheNapkin_codex.pdf">The Back of the Napkin: Codex, by Dan Roam</a></li>
<li><span>4 Nov 2014</span> &raquo; <a href="{{ site.url }}/vispro14-blog/pdfs/BackoftheNapkin_SQVID.pdf">The Back of the Napkin: SQVID, by Dan Roam</a></li>
</ul>

<h3>HANDOUTS</h3>

<ul class="posts">
<li><span>21 Oct 2014</span> &raquo; <a href="{{ site.url }}/pdfs/Brinkley_Nike_Blog.pdf">Brinkley Nike Blog(PDF)</a></li>
<li><span>21 Oct 2014</span> &raquo; <a href="{{ site.url }}/vispro14-blog/pdfs/Syllabus_Visualization-and-Prototyping-2014.pdf">Syllabus: Visualization and Prototyping 2014 (PDF)</a></li></ul>
