<div class="footer">
  <div class="contact">
    <p>
      Brinkley Field + Nike!<br />
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/brinkleyfield">github.com/brinkleyfield</a><br />
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://twitter.com/the__brinks">twitter.com/the__brinks</a><br />
    </p>
  </div>
</div>
</div>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->

<!-- Google Analytics end -->

</body>
</html>
