<h1>Stories From the Field with Brinkley Field</h1>
  <ul class="posts">
    <li><span>12 Nov 2015</span> &raquo; <a href="http://www.texassports.com/news/2015/11/12/WSOC_1112152959.aspx">Stories from the field with Brinkley: Heartfelt thank you in the final blog of her career for TexasSports.com</a></li>
    <li><span>04 Nov 2015</span> &raquo; <a href="http://www.texassports.com/news/2015/11/4/WSOC_1104155307.aspx?path=wsoc">Stories from the field with Brinkley: "Senior Night" versus Montana</a></li>
    <li><span>27 Oct 2015</span> &raquo; <a href="http://www.texassports.com/news/2015/10/27/WSOC_1027151038.aspx?path=wsoc">Stories from the field with Brinkley: A normal "Day in the Life" for a Texas soccer player</a></li>
    <li><span>20 Oct 2014</span> &raquo; <a href="http://www.texassports.com/news/2015/10/20/WSOC_1020150819.aspx?path=wsoc">Stories from the field with Brinkley: Senior defender discusses Texas' big win at No. 17 Texas Tech</a></li>
    <li><span>13 Oct 2014</span> &raquo; <a href="http://www.texassports.com/news/2015/10/13/WSOC_1013151253.aspx?path=wsoc">Stories from the field with Brinkley: A big weekend for Texas sports</a></li>
    <li><span>07 Oct 2014</span> &raquo; <a href="http://www.texassports.com/news/2015/10/7/WSOC_1007153746.aspx?path=wsoc">Stories from the field with Brinkley: "Get to Know" interviews with the freshmen Pt. 2</a></li>
  </ul>
