<h1>Stories From the Field with Brinkley Field</h1>
  <ul class="posts">
    <li><span>12 Nov 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/11/12/WSOC_1112152959.aspx">
         Stories from the field with Brinkley: Heartfelt thank you in the final
        blog of her career for TexasSports.com</a></li>
    <li><span>04 Nov 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/11/4/WSOC_1104155307.aspx?path=wsoc">
         Stories from the field with Brinkley: "Senior Night" versus Montana</a></li>
    <li><span>27 Oct 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/10/27/WSOC_1027151038.aspx?path=wsoc">
         Stories from the field with Brinkley: A normal "Day in the Life" for a
        Texas soccer player</a></li>
    <li><span>20 Oct 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/10/20/WSOC_1020150819.aspx?path=wsoc">
         Stories from the field with Brinkley: Senior defender discusses Texas'
        big win at No. 17 Texas Tech</a></li>
    <li><span>13 Oct 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/10/13/WSOC_1013151253.aspx?path=wsoc">
         Stories from the field with Brinkley: A big weekend for Texas sports</a></li>
    <li><span>07 Oct 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/10/7/WSOC_1007153746.aspx?path=wsoc">
         Stories from the field with Brinkley: "Get to Know" interviews with the
        freshmen Pt. 2</a></li>
    <li><span>29 Sept 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/9/29/WSOC_0929152759.aspx?path=wsoc">
        Stories from the field with Brinkley: "Get to Know" interviews with the
        freshmen Pt. 1</a></li>
    <li><span>21 Sept 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/9/21/WSOC_0921155330.aspx?path=wsoc">
        Stories from the field with Brinkley: Sunday's match against Little Rock
        and the upcoming start of Big 12 play</a></li>
    <li><span>15 Sept 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/9/15/WSOC_0915153410.aspx?path=wsoc">
        Stories from the field with Brinkley: The great weather in Austin and
        last weekend's successful results</a></li>
    <li><span>09 Sept 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/9/9/WSOC_0909153143.aspx?path=wsoc">
        Stories from the field with Brinkley: The team's trip to California and
        Sunday's huge win at No. 8 UCLA</a></li>
    <li><span>01 Sept 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/9/1/WSOC_0901151350.aspx?path=wsoc">
        Stories from the field with Brinkley: UT's big weekend against UNC and
        Ohio State in this week's blog</a></li>
    <li><span>27 Aug 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/8/27/WSOC_0827155924.aspx?path=wsoc">
         Stories from the field with Brinkley: The start of classes and last
        week's road trip to South Carolina</a></li>
    <li><span>17 Aug 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/8/17/WSOC_0817155927.aspx?path=wsoc">
         Stories from the field with Brinkley: Team's exhibition win and LHN
        interviews</a></li>
    <li><span>10 Aug 2015</span> &raquo;
      <a href="http://www.texassports.com/news/2015/8/10/WSOC_0810153445.aspx?path=wsoc">
         Stories from the field with Brinkley: First blog of the season and the
        start of preseason training</a></li>
  </ul>
